*.iml
.gradle/
/build/
/app/build/
/app/release/
**/build/
*.aab
*.apk
*.apks
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
/anaprojeyedahilolmayan
/gorselveuygulama
/plan
/sonplan.txt
event.docx
event.txt
extract.py
*.py
